/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #fff8f8;
}

/* Cabeçalho */
.topo {
  width: 100%;
  padding: 20px 0;
  background: #ffe4ec;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.topo-inner {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  font-weight: 800;
  font-size: 32px;
  color: #b83174;
}

.menu {
  display: flex;
  gap: 24px;
}

.menu a {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  color: #2c2a2a;
  transition: 0.3s;
}

.menu a:hover {
  color: #d13d87;
}

/* Hero */
.hero {
  background: linear-gradient(to bottom right, #ffe4ec, #ffffff);
  text-align: center;
  padding: 100px 20px;
}

.titulo {
  font-size: 52px;
  font-weight: 800;
  color: #a70a58;
}

.subtitulo {
  font-size: 22px;
  color: #333232;
  margin: 20px 0 40px;
}

.cta {
  display: inline-block;
  padding: 16px 40px;
  background: linear-gradient(135deg, #f04f85, #b60f62);
  color: #fff;
  border-radius: 50px;
  font-weight: 700;
  text-decoration: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(197, 7, 102, 0.3);
}

/* Serviços */
.servicos {
  padding: 80px 20px;
  text-align: center;
  background: #fff;
}

.servicos h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: #c01a6d;
}

.servicos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.card {
  background: #fff8f8;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

.card img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.card h3 {
  color: #e60073;
  font-size: 22px;
  margin-bottom: 10px;
}

/* Galeria */
.galeria {
  background: #ffe4ec;
  padding: 80px 20px;
  text-align: center;
}

.galeria h2 {
  font-size: 36px;
  color: #e60073;
  margin-bottom: 30px;
}

.fotos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.fotos img {
  width: 300px;
  border-radius: 12px;
  transition: transform 0.3s;
}

.fotos img:hover {
  transform: scale(1.05);
}

  /* Contato */
  .contato {
    text-align: center;
    padding: 80px 20px;
    background: #fff;
  }
  
  .contato h2 {
    color: #da4891;
    font-size: 34px;
    margin-bottom: 20px;
  }
  
  .contato p {
    font-size: 18px;
    margin-bottom: 10px;
    color: #444;
  }
 

/* Rodapé */
.rodape {
  background: #ffe4ec;
  text-align: center;
  padding: 20px;
  color: #555;
  font-size: 14px;
}
